body {
	background-color: #E4CCC3;
	font-family: 'Oleo Script Swash Caps', cursive;
	text-align: center;
}

.navigation-aligned {
	display: flex;
	justify-content: space-around;
	padding: 30px;
	border: 2px solid #EC5C84;
}

a {
	color: #AC1454;
	font-size: 20px;
	text-decoration: none;
}

img {
	width: 500px;
	height: 300px;
	object-fit: cover;
}


.center-content {
	text-align: center;
	margin: 60px;
}

h1 {
	color: #AC1454;
	font-size: 50px;

}

h2 {
	color: #EC5C84;
	font-size: 30px;
}

h3 {
	color: #B66594;
	font-size: 25px;
}

p {
	font-size: 18px;
}
	
.element-aligned {
	image-rendering: center;
}

.small-size {
	width: 30%;
	height: 300px;
	object-fit: cover;
}

